{% extends "../template/base.swig" %}

{% block styles %}
<!-- Page JS Plugins CSS -->
<link rel="stylesheet" href="/js/plugins/datatables/jquery.dataTables.min.css">
<link  href="/cropper/dist/cropper.min.css" rel="stylesheet">
<style>
    .fileUpload {
        position: relative;
        overflow: hidden;
    }
    .fileUpload input.upload {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        padding: 0;
        font-size: 20px;
        cursor: pointer;
        opacity: 0;
        filter: alpha(opacity=0);
    }
    #imgPreview, #imgPreview-update{
        border-radius:50%;
        margin-bottom: 15px;
    }
</style>
{% endblock %}

{% block body %}
<div class="content wrap-breadcrumb">
    <div class="col-sm-12 text-right hidden-xs">
        <ol class="breadcrumb">
            <li><a href="/dashboard" class="link-effect">Dashboard</a></li>
            <li>Gallery</li>
            <li>Media</li>
        </ol>
    </div>
</div>
<!-- Page Content -->
<div class="content">
<!-- Dynamic Table Full -->
    <div class="block">
        <div class="block-header text-center">
            <button class="btn btn-default btn-delete-media pull-left"  data-toggle="tooltip" title="Remove selected" disabled><i class="si si-trash"></i></button>
            <button class="btn btn-success btn-add-media pull-right" onClick="openModal('#modal-add-media', 'add')" data-toggle="tooltip" title="Add media"><i class="si si-note"></i></button>
            <h4>Medias <small>List</small></h4>
        </div>
        <div class="block-content table-responsive">
            <!-- DataTables init on table by adding .js-dataTable-full class, functionality initialized in js/pages/media.js -->
            <table class="table table-striped data-media">
        <thead>
          <tr>
            <th width="5">
              <div class="checkbox-media-all ">
                <input type="checkbox" data-toggle="tooltip" title="Select all">
              </div>
            </th>
            <th>Name</th>
            <th>Url</th>
            <th>Album</th>
            <th>type</th>

            <th width="1%">#</th>
          </tr>
        </thead>
      </table>
        </div>
    </div>
</div>
<!-- modals -->
<div class="modal fade" id="modal-add-media" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-top">
        <div class="modal-content">
            <form action="/media/add" class="form-add-media form-horizontal" method="post">
            <div class="block block-themed block-transparent remove-margin-b">
                <div class="block-header bg-primary-dark">
                    <ul class="block-options">
                        <li>
                            <button data-dismiss="modal" type="button"><i class="si si-close"></i></button>
                        </li>
                    </ul>
                    <h3 class="block-title">Add New Media</h3>
                </div>
                <div class="block-content">
                    <div class="clearfix"></div><br>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <div class="form-material form-material-success floating">
                                <input class="form-control" id="name-add-media" name="name" type="text" required>
                                <label for="name-add-media">Name Media</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                          <div class="form-material form-material-success floating open">
                            <label for="album-add-media">Albums</label>
                            <select class="form-control" name="album_id" id="album-add-media">
                              {% for album in albums %}
                              <option value="{{album.id}}">{{album.name}}</option>
                              {% endfor %}
                            </select>
                            <!-- <select class="form-control" name="album_id" id="album-add-media">
                              <option value="1">NRA Travel</option>
                              <option value="2">lorem Ipsum</option>
                            </select> -->

                          </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-12">
                            <div class="form-material form-material-success floating open">
                                <input type="text" class="form-control" id="url-add-media" name="url" value="http://" required>
                                <label for="url-add-media">Url media</label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-12">
                          <label for="type-add-media">Type Media</label>
                          <select class="form-control" name="type" id="type-add-media">

                            <option value="photo">Photo</option>
                            <option value="video">Video</option>

                          </select>

                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div><br>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-success submit-add-media">Save</button>
            </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal add-->

<div class="modal fade" id="modal-update-media" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-top">
        <div class="modal-content">
            <form action="" class="form-update-media form-horizontal" method="post">
            <div class="block block-themed block-transparent remove-margin-b">
                <div class="block-header bg-primary-dark">
                    <ul class="block-options">
                        <li>
                            <button data-dismiss="modal" type="button"><i class="si si-close"></i></button>
                        </li>
                    </ul>
                    <h3 class="block-title">Add New Media</h3>
                </div>
                <div class="block-content">
                    <div class="clearfix"></div><br>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <div class="form-material form-material-success floating open">
                                <input class="form-control" id="name-update-media" name="name" type="text" required>
                                <label for="name-update-media">Name Media</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                          <div class="form-material form-material-success floating open">
                            <label for="album-update-media">Albums</label>
                            <!-- <select class="form-control" name="album_id" id="album-update-media">
                              {% for album in albums %}
                              <option value="{{album.id}}">{{album.name}}</option>
                              {% endfor %}
                            </select> -->
                            <select class="form-control" name="album_id" id="album-update-media">
                              {% for album in albums %}
                              <option value="{{album.id}}">{{album.name}}</option>
                              {% endfor %}
                            </select>

                          </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-12">
                            <div class="form-material form-material-success floating open">
                                <input type="text" class="form-control" id="url-update-media" name="url" value="http://" required>
                                <label for="url-update-media">Url media</label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-12">
                          <label for="type-update-media">Type Media</label>
                          <select class="form-control" name="type" id="type-update-media">

                            <option value="photo">Photo</option>
                            <option value="video">Video</option>

                          </select>

                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div><br>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-success submit-update-media">Save</button>
            </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal add-->


<div class="modal fade" id="cropper-modal" data-backdrop="static" data-keyboard="false" tabindex="-1" >
  <div class="modal-dialog modal-dialog-popout modal-dialog-top">
    <div class="modal-content">
        <div class="block block-themed block-transparent remove-margin-b">
            <div class="block-header bg-primary-dark">
                <ul class="block-options">
                    <li>
                        <button data-dismiss="modal" type="button"><i class="si si-close"></i></button>
                    </li>
                </ul>
                <h3 class="block-title">Image Cropper</h3>
            </div>
            <div class="block-content">
                <div id="cropper-wrap-img">
                    <img width="100%" src="/img/default.png" alt="Picture">
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" data-dismiss="modal" class="btn btn-default pull-left">Close</button>
            <button type="button" class="btn btn-success btn-crop">Crop</button>
        </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<!-- Page JS Plugins -->
<script src="/js/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="/js/plugins/shiftcheckbox/jquery.shiftcheckbox.js"></script>
<script src="/cropper/dist/cropper.min.js"></script>
<script src="/js/plugins/jquery-validation/jquery.validate.min.js"></script>
<!-- Page JS Code -->
<script src="/js/pages/media.js"></script>
{% endblock %}
