{% extends "../template/base.swig" %}

{% block styles %}
<!-- Page JS Plugins CSS -->
<link rel="stylesheet" href="/js/plugins/datatables/jquery.dataTables.min.css">
<link  href="/cropper/dist/cropper.min.css" rel="stylesheet">
<style>
    .fileUpload {
        position: relative;
        overflow: hidden;
    }
    .fileUpload input.upload {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        padding: 0;
        font-size: 20px;
        cursor: pointer;
        opacity: 0;
        filter: alpha(opacity=0);
    }
    #imgPreview, #imgPreview-update{
        border-radius:50%;
        margin-bottom: 15px;
    }
</style>
{% endblock %}

{% block body %}
<div class="content wrap-breadcrumb">
    <div class="col-sm-12 text-right hidden-xs">
        <ol class="breadcrumb">
            <li><a href="/dashboard" class="link-effect">Dashboard</a></li>
            <li>News</li>
            <li>News Category</li>
        </ol>
    </div>
</div>
<!-- Page Content -->
<div class="content">
<!-- Dynamic Table Full -->
    <div class="block">
        <div class="block-header text-center">
            <button class="btn btn-default btn-delete-category pull-left"  data-toggle="tooltip" title="Remove selected" disabled><i class="si si-trash"></i></button>
            <button class="btn btn-success btn-add-category pull-right" onClick="openModal('#modal-add-category', 'add')" data-toggle="tooltip" title="Add Kategori Berita"><i class="si si-note"></i></button>
            <h4> News Category <small>List</small></h4>
        </div>
       <div class="block-content table-responsive">
            <!-- DataTables init on table by adding .js-dataTable-full class, functionality initialized in js/pages/category.js -->
            <table class="table table-striped data-categories ">
                <thead>
                    <tr>
                        <th width="5">
                            <div class="checkbox-category-all">
                              <input type="checkbox" data-toggle="tooltip" title="Select all">
                            </div>
                        </th>

                        <th>Category</th>
                        <!-- <th>deskripsi kategori</th> -->

                        <th width="1%">#</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

<!-- modals -->
<div class="modal fade" id="modal-add-category" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-top">
        <div class="modal-content">
            <form action="/categories/add" class="form-add-category form-horizontal" method="post">
            <div class="block block-themed block-transparent remove-margin-b">
                <div class="block-header bg-primary-dark">
                    <ul class="block-options">
                        <li>
                            <button data-dismiss="modal" type="button"><i class="si si-close"></i></button>
                        </li>
                    </ul>
                    <h3 class="block-title">Add News Category</h3>
                </div>
                <div class="block-content">

                    <div class="clearfix"></div><br>

                    <div class="form-group">
                        <div class="col-xs-12">
                            <div class="form-material form-material-success floating">
                                <input type="text" class="form-control" id="category-add-category"  name="category" required></input>
                                <label for="category-add-category">Category</label>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
            <div class="clearfix"></div><br>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-success submit-add-category">Save</button>
            </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal add-->

<div class="modal fade" id="modal-update-category" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-top">
        <div class="modal-content">
            <form action="" class="form-update-category form-horizontal" method="post">
            <div class="block block-themed block-transparent remove-margin-b">
                <div class="block-header bg-primary-dark">
                    <ul class="block-options">
                        <li>
                            <button data-dismiss="modal" type="button"><i class="si si-close"></i></button>
                        </li>
                    </ul>
                    <h3 class="block-title">Update News Category</h3>
                </div>
                <div class="block-content">

                    <div class="clearfix"></div><br>
                     <div class="form-group">
                        <div class="col-xs-12">
                            <div class="form-material form-material-success floating open">
                                <input type="text" class="form-control" id="category-update-category" minlength="5" name="category" required></input>
                                <label for="category-update-category">Category</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div><br>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-success submit-update-category">Save</button>
            </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal update-->
{% endblock %}

{% block scripts %}
<!-- Page JS Plugins -->
<script src="/js/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="/js/plugins/shiftcheckbox/jquery.shiftcheckbox.js"></script>
<script src="/cropper/dist/cropper.min.js"></script>
<script src="/js/plugins/jquery-validation/jquery.validate.min.js"></script>
<!-- Page JS Code -->
<script src="/js/pages/newsCategory.js"></script>
{% endblock %}
