{% extends "../template/base.swig" %}

{% block styles %}
<!-- Page JS Plugins CSS -->
<link rel="stylesheet" href="/js/plugins/datatables/jquery.dataTables.min.css">
<link  href="/cropper/dist/cropper.min.css" rel="stylesheet">
<style>
    .fileUpload {
        position: relative;
        overflow: hidden;
    }
    .fileUpload input.upload {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        padding: 0;
        font-size: 20px;
        cursor: pointer;
        opacity: 0;
        filter: alpha(opacity=0);
    }
    #imgPreview, #imgPreview-update{
        border-radius:50%;
        margin-bottom: 15px;
    }
</style>
{% endblock %}

{% block body %}
<div class="content wrap-breadcrumb">
    <div class="col-sm-12 text-right hidden-xs">
        <ol class="breadcrumb">
            <li><a href="/dashboard" class="link-effect">Dashboard</a></li>
            <li>Promosi dan Paket</li>
            <li>Paket Haji / Umrah</li>
        </ol>
    </div>
</div>
<!-- Page Content -->
<div class="content">
<!-- Dynamic Table Full -->
    <div class="block">
        <div class="block-header text-center">
            <button class="btn btn-default btn-delete-employee pull-left"  data-toggle="tooltip" title="Remove selected" disabled><i class="si si-trash"></i></button>
            <button class="btn btn-success btn-add-employee pull-right" onClick="openModal('#modal-add-paket', 'add')" data-toggle="tooltip" title="Add paket"><i class="si si-note"></i></button>
            <h4>Paket Haji / Umrah <small>List</small></h4>
        </div>
       <div class="block-content table-responsive">
            <!-- DataTables init on table by adding .js-dataTable-full class, functionality initialized in js/pages/employee.js -->
            <table class="table table-striped ">
                <thead>
                    <tr>
                        <th width="5">
                            <div class="checkbox-employee-all">
                              <input type="checkbox" data-toggle="tooltip" title="Select all">
                            </div>
                        </th>
                        <th width="1%">#</th>
                        <th>Nama Program</th>
                        <th>Nama Paket</th>
                        <th>Deskripsi Paket </th>
                        <th>Fasilitas Paket</th>
                        <th>Tujuan / Destinasi</th>
                        <th>Nama Akmodasi / Hotel</th>
                        <th>Kota Akomodasi</th>
                        <th>Harga Paket</th>
                        <th>Jadwal Keberangkatan</th>
                        <th width="1%">#</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

<!-- modals -->
<div class="modal fade" id="modal-add-paket" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-top">
        <div class="modal-content">
            <form action="/paket/add" class="form-add-paket form-horizontal" method="post">
            <div class="block block-themed block-transparent remove-margin-b">
                <div class="block-header bg-primary-dark">
                    <ul class="block-options">
                        <li>
                            <button data-dismiss="modal" type="button"><i class="si si-close"></i></button>
                        </li>
                    </ul>
                    <h3 class="block-title">Add New paket Haji / Umrah</h3>
                </div>
                <div class="block-content">

                    <div class="clearfix"></div><br>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <div> 
                                <label for="namaProgram-add-paket">Nama Program</label>
                                 <input class="form-control" id="namaProgram-add-paket" name="namaProgram" type="text" required>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-12">
                            <div> 
                                <label for="namapaket-add-paket">Nama paket</label>
                                 <input class="form-control" id="namapaket-add-paket" name="namaPaket" type="text" required>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-12">
                            <div>
                                <label for="deskripsipaket-add-paket">Deskripsi paket</label>
                                <textarea class="form-control" id="deskripsipaket-add-paket" minlength="5" name="deskripsipaket" required></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-12">
                            <div>
                                <label for="fasilitasPaket-add-paket">Fasilitas Paket</label>
                                <textarea class="form-control" id="fasilitasPaket-add-paket" minlength="5" name="fasilitasPaket" required></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-12">
                            <div>
                                <label for="tujuanPaket-add-paket">Tujuan / Destinasi Paket</label>
                                <textarea class="form-control" id="tujuanPaket-add-paket" minlength="5" name="tujuanPaket" required></textarea>
                            </div>
                        </div>
                    </div>

                     <div class="form-group">
                        <div class="col-xs-12">
                            <div> 
                                <label for="namaAkomodasi-add-paket">Nama Akomodasi / Hotel</label>
                                 <input class="form-control" id="namaAkomodasi-add-paket" name="namaAkomodasi" type="text" required>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-12">
                            <div> 
                                <label for="kotaAkomodasi-add-paket">Kota Akomodasi</label>
                                 <input class="form-control" id="kotaAkomodasi-add-paket" name="kotaAkomodasi" type="text" required>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-12">
                            <div>     
                                <label for="hargaPaket-add-promosi">Harga Paket</label>
                                 <input type="number" class="form-control" id="hargaPaket-add-promosi" minlength="5" name="hargaPaket" required/>
                                
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-12">
                            <div> 
                                <label for="jadwalKeberangkatan-add-promosi">Jadwal Keberangkatan</label>
                                 <input type="date" class="form-control"  id="jadwalKeberangkatan-add-promosi" minlength="5" name="jadwalKeberangkatan" required/>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="clearfix"></div><br>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-success submit-add-paket">Save</button>
            </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal add-->

<div class="modal fade" id="modal-update-paket" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-top">
        <div class="modal-content">
            <form action="" class="form-update-employee form-horizontal" method="post">
            <div class="block block-themed block-transparent remove-margin-b">
                <div class="block-header bg-primary-dark">
                    <ul class="block-options">
                        <li>
                            <button data-dismiss="modal" type="button"><i class="si si-close"></i></button>
                        </li>
                    </ul>
                    <h3 class="block-title">Update paket</h3>
                </div>
                <div class="block-content">
                    
                   <div class="clearfix"></div><br>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <div> 
                                <label for="namapaket-add-paket">Nama paket</label>
                                 <input class="form-control" id="namapaket-add-paket" name="namapaket" type="text" required>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-12">
                            <div>
                                <label for="deskripsipaket-add-paket">Deskripsi paket</label>
                                <textarea class="form-control" id="deskripsipaket-add-paket" minlength="5" name="deskripsipaket" required></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div><br>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-success submit-update-paket">Save</button>
            </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal update-->

{% endblock %}

{% block scripts %}
<!-- Page JS Plugins -->
<script src="/js/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="/js/plugins/shiftcheckbox/jquery.shiftcheckbox.js"></script>
<script src="/cropper/dist/cropper.min.js"></script>
<script src="/js/plugins/jquery-validation/jquery.validate.min.js"></script>
<!-- Page JS Code -->
<script src="/js/pages/employee.js"></script>
{% endblock %}
