{% extends "../template/base.swig" %}

{% block styles %}
<!-- Page JS Plugins CSS -->
<link rel="stylesheet" href="/js/plugins/datatables/jquery.dataTables.min.css">
<link  href="/cropper/dist/cropper.min.css" rel="stylesheet">
<style>
.fileUpload {
  position: relative;
  overflow: hidden;
}
.fileUpload input.upload {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  pupdateing: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}
#imgPreview, #imgPreview-update{
  border-radius:50%;
  margin-bottom: 15px;
}
</style>
{% endblock %}

{% block body %}
<div class="block">
  <div class="block-header text-center">
    <h4><small>Travel</small></h4>
  </div>
</div>

<div class="content wrap-breadcrumb">
  <div class="col-sm-12 text-right hidden-xs">
    <ol class="breadcrumb">
      <li><a href="/dashboard" class="link-effect">Dashboard</a></li>
      <li>Travel</li>
    </ol>
  </div>
</div>

<!-- Page Content -->


<!-- <div class="block-header text-center">
<button class="btn btn-default btn-delete-travel pull-left"  data-toggle="tooltip" title="Remove selected" disabled><i class="si si-trash"></i></button>
<button class="btn btn-success btn-update-travel pull-right" onClick="openModal('#modal-update-travel', 'update')" data-toggle="tooltip" title="Add travel"><i class="si si-note"></i></button>
<h4>Employee <small>List</small></h4>
</div> -->

<form action="/travel/update/{{travels.id}}" class="form-update-travel form-horizontal" method="post">
  <div class="block block-themed block-transparent remove-margin-b">
    <div class="block-content">

      <div class="clearfix"></div><br>
      <div class="form-group">
        <div class="col-xs-2"></div>
        <div class="col-xs-8">
          <div class="form-material form-material-success floating open">
            <input class="form-control" value="{{travels.name}}" id="name-update-travel" name="name" type="text" required>
            <label for="name-update-travel" >Name</label>
          </div>
        </div>
        <div class="col-xs-2"></div>
      </div>
      <div class="form-group">
        <div class="col-xs-2"></div>
        <div class="col-xs-8">
          <div class="form-material form-material-success floating open">
            <input type="text"  value="{{travels.address}}" class="form-control" id="email-update-travel" name="address" required>
            <label for="email-update-travel">Address</label>
          </div>
        </div>
        <div class="col-xs-2"></div>
      </div>
      <div class="form-group">
        <div class="col-xs-2"></div>
        <div class="col-xs-8">
          <div class="form-material form-material-success floating open">
            <input type="text" class="form-control" value="{{travels.district}}" id="email-update-travel" name="district" required>
            <label for="email-update-travel">District</label>
          </div>
        </div>
        <div class="col-xs-2"></div>
      </div>
      <div class="form-group">
        <div class="col-xs-2"></div>
        <div class="col-xs-8">
          <div class="form-material form-material-success floating open">
            <input type="text" class="form-control" id="email-update-travel" value="{{travels.town}}" name="town" required>
            <label for="email-update-travel">Town</label>
          </div>
        </div>
        <div class="col-xs-2"></div>
      </div>
      <div class="form-group">
        <div class="col-xs-2"></div>
        <div class="col-xs-8">
          <div class="form-material form-material-success floating open">
            <input type="text" class="form-control" id="email-update-travel" name="province" value="{{travels.province}}" required>
            <label for="email-update-travel">Province</label>
          </div>
        </div>
        <div class="col-xs-2"></div>
      </div>
      <div class="form-group">
        <div class="col-xs-2"></div>
        <div class="col-xs-8">
          <div class="form-material form-material-success floating open">
            <input type="text" class="form-control" id="email-update-travel" name="postal_code"  value="{{travels.postal_code}}" required>
            <label for="email-update-travel">Postal Code</label>
          </div>
        </div>
        <div class="col-xs-2"></div>
      </div>
      <div class="form-group">
        <div class="col-xs-2"></div>
        <div class="col-xs-8">
          <div class="form-material form-material-success floating open">
            <input type="text" class="form-control" id="email-update-travel" value="{{travels.telephone}}" name="telephone" required>
            <label for="email-update-travel">Telephone</label>
          </div>
        </div>
        <div class="col-xs-2"></div>
      </div>
      <div class="form-group">
        <div class="col-xs-2"></div>
        <div class="col-xs-8">
          <div class="form-material form-material-success floating open">
            <input type="text" class="form-control" id="email-update-travel" value="{{travels.faximile}}" name="faximile" required>
            <label for="email-update-travel">Faximile</label>
          </div>
        </div>
        <div class="col-xs-2"></div>
      </div>
      <div class="form-group">
        <div class="col-xs-2"></div>
        <div class="col-xs-8">
          <div class="form-material form-material-success floating open">
            <input type="text" class="form-control" id="email-update-travel" value="{{travels.web}}" name="web" required>
            <label for="email-update-travel">Web</label>
          </div>
        </div>
        <div class="col-xs-2"></div>
      </div>

      <div class="form-group">
        <div class="col-xs-2"></div>
        <div class="col-xs-8">
          <div class="form-material form-material-success floating open">
            <input type="email" class="form-control" id="email-update-travel" name="email" value="{{travels.email}}" required>
            <label for="email-update-travel">email</label>
          </div>
        </div>
        <div class="col-xs-2"></div>
      </div>
      <div class="form-group">
        <div class="col-xs-2"></div>
        <div class="col-xs-8">
          <div class="form-material form-material-success floating open">
            <textarea class="form-control" id="repass-update-travel" name="history" rows="8" cols="40" required>{{travels.history}}</textarea>
            <label for="repass-update-travel">History</label>
          </div>
        </div>
        <div class="col-xs-2"></div>
      </div>
      <div class="form-group">
        <div class="col-xs-2"></div>
        <div class="col-xs-8">
          <div class="form-material form-material-success floating open">
            <textarea class="form-control" id="repass-update-travel" name="visi" rows="8" cols="40" required>{{travels.visi}}</textarea>
            <label for="repass-update-travel">Visi</label>
          </div>
        </div>
        <div class="col-xs-2"></div>
      </div>
      <div class="form-group">
        <div class="col-xs-2"></div>
        <div class="col-xs-8">
          <div class="form-material form-material-success floating open">
            <textarea class="form-control" id="repass-update-travel" name="misi" rows="8" cols="40" value="" required>{{travels.misi}}</textarea>
            <label for="repass-update-travel">Misi</label>
          </div>
        </div>
        <div class="col-xs-2"></div>
      </div>
      <div class="form-group">
        <div class="col-xs-2"></div>
        <div class="col-xs-8">
          <div class="form-material form-material-success floating open">
            <textarea class="form-control" id="repass-update-travel" name="legalitas" rows="8" cols="40" value="" required>{{travels.legalitas}}</textarea>
            <label for="repass-update-travel">Legalitas</label>
          </div>
        </div>
        <div class="col-xs-2"></div>
      </div>
      <div class="form-group">
        <div class="col-xs-2"></div>
        <div class="col-xs-8">
          <div class="form-material form-material-success floating open">
            <textarea class="form-control" id="repass-update-travel" name="culture" rows="8" cols="40" value="" required>{{travels.culture}}</textarea>
            <label for="repass-update-travel">Culture</label>
          </div>
        </div>
        <div class="col-xs-2"></div>
      </div>


    </div>
  </div>
  <div class="clearfix"></div><br>
  <div class="modal-footer">
    <div class="col-xs-2"></div>
    <div class="col-xs-8">
      <button type="submit" class="btn btn-success submit-update-travel">Update</button>
    </div>
  </div>
  <div class="col-xs-2"></div>
</form>

{% endblock %}

{% block scripts %}
<!-- Page JS Plugins -->
<script src="/js/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="/js/plugins/shiftcheckbox/jquery.shiftcheckbox.js"></script>
<script src="/cropper/dist/cropper.min.js"></script>
<script src="/js/plugins/jquery-validation/jquery.validate.min.js"></script>
<!-- Page JS Code -->
<script src="/js/pages/travel.js"></script>
{% endblock %}
